# Enable GZIP Compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript
</IfModule>

# Enable Browser Caching
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType text/html "access plus 1 day"
  ExpiresByType application/xhtml+xml "access plus 1 day"
</IfModule>

# Remove ETags
<IfModule mod_headers.c>
  Header unset ETag
  FileETag None
</IfModule>

# Force HTTPS and www redirect
<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Redirect HTTP to HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  # Redirect www to non-www (optional - choose one style and stick with it)
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# Set character encoding
AddDefaultCharset UTF-8

# Disable directory listing
Options -Indexes

# Set correct mime types
AddType application/javascript js
AddType text/css css
AddType image/svg+xml svg svgz
AddEncoding gzip svgz
